<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,200;1,500&display=swap" rel="stylesheet">
    <title>Pdf Report</title>
    <style>
        body,
        p,
        tr,
        td,
        th,
        h2 {
            font-family: 'Poppins', sans-serif;
            /* font: normal medium/1.4 sans-serif; */
            margin: 0;
            padding: 10px;
        }
        
        table {
            border-collapse: collapse;
            width: 100%;
        }
        
        th {
            font-size: 16px;
            font-weight: bold;
            text-align: left;
            font-weight: 800;
            background-color: #E8EAED;
            border: 1px solid rgb(6, 6, 6);
        }
        
        p {
            font-size: 20px;
            margin: 0;
            padding: 0;
        }
        
        h2 {
            font-size: 18px !important;
            font-weight: 800 !important;
        }
        
        td {
            margin: 0px !important;
            padding: 0 5px !important;
            text-align: left;
            border: 1px solid rgb(6, 6, 6);
            height: 39px;
            font-size: 14px;
            font-weight: normal;
        }
        
        .title {
            text-align: center;
        }
    </style>
</head>

<body>
    <h2 class="title">Health, Safety, Quality and Environmental Site Inspection</h2>
    <table>
        <tr>
            <th>Site:</th>
            <td>Weetabix Burton API / Main</td>
            <th>Completed By: </th>
            <td>John Cord</td>
            <th>Date: </th>
            <td>4-Sep-21</td>
        </tr>
        <tr>
            <th>Work Area:</th>
            <td>AP6 foyer</td>
            <th>Job Description: </th>
            <td colspan="3">Running and fitting telecom cables</td>
        </tr>
        <tr>
            <th>Supervisor</th>
            <td>Tony Wiliam</td>
            <th>Inspector: </th>
            <td>John Cord</td>
            <th>Type: </th>
            <td>Installation</td>
        </tr>
    </table>
    <br>
    <table>
        <tr>
            <th></th>
            <th>Interventions</th>
            <th>Comment</th>
            <th>Completed</th>
            <th>Action Taken</th>
        </tr>
        <tr>
            <th>A. Working Standards</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td>1. Working At Height</td>
            <td style="text-align: center !important;">0</td>
            <td></td>
            <td style="text-align: center !important;"></td>
            <td></td>
        </tr>
        <tr>
            <td>2. Lifting Operation - Crane, Fork Lift Truck, Hoists etc</td>
            <td style="text-align: center !important;">0</td>
            <td></td>
            <td style="text-align: center !important;"></td>
            <td></td>
        </tr>
        <tr>
            <td>3. Certification - Daily Checksheets for MEWP and FLT</td>
            <td style="text-align: center !important;">0</td>
            <td></td>
            <td style="text-align: center !important;"></td>
            <td></td>
        </tr>
        <tr>
            <td>4. Confined Space Work</td>
            <td style="text-align: center !important;">0</td>
            <td></td>
            <td style="text-align: center !important;"></td>
            <td></td>
        </tr>
        <tr>
            <td>5. Electrical Work</td>
            <td style="text-align: center !important;">0</td>
            <td></td>
            <td style="text-align: center !important;"></td>
            <td></td>
        </tr>

        <tr>
            <th>B. Quality</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td>6. Site Set Up & Appearance, Signage</td>
            <td style="text-align: center !important;">1</td>
            <td>A frame "men at work " sign in place</td>
            <td style="text-align: center !important;">Yes</td>
            <td>Good practice</td>
        </tr>
        <tr>
            <td>7. Paperwork (Permits, Risk Assessments, Method Statment,</td>
            <td style="text-align: center !important;">1</td>
            <td>Documentation all in order and Signed</td>
            <td style="text-align: center !important;">Yes</td>
            <td>Commended guys</td>
        </tr>
        <tr>
            <td>8. Certification - Training, Insurance Inspection, Induction Current</td>
            <td style="text-align: center !important;">0</td>
            <td></td>
            <td style="text-align: center !important;"></td>
            <td></td>
        </tr>

        <tr>
            <th>C. Site Rules</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td>9. Hot Work</td>
            <td style="text-align: center !important;">0</td>
            <td></td>
            <td style="text-align: center !important;"></td>
            <td></td>
        </tr>
        <tr>
            <td>10. Isolation and Lock Offs</td>
            <td style="text-align: center !important;">0</td>
            <td></td>
            <td style="text-align: center !important;"></td>
            <td></td>
        </tr>
        <tr>
            <td>11. Fire Exits and Escape Routes</td>
            <td style="text-align: center !important;">1</td>
            <td>Good housekeeping</td>
            <td style="text-align: center !important;">Yes</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>12. Awareness - Fire Exit, Assembly Point</td>
            <td style="text-align: center !important;">0</td>
            <td></td>
            <td style="text-align: center !important;"></td>
            <td></td>
        </tr>
        <tr>
            <th>D. Environmental</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td>13. Waste Management</td>
            <td style="text-align: center !important;">0</td>
            <td></td>
            <td style="text-align: center !important;"></td>
            <td></td>
        </tr>
        <tr>
            <td>14. Product Contamination</td>
            <td style="text-align: center !important;">0</td>
            <td></td>
            <td style="text-align: center !important;"></td>
            <td></td>
        </tr>
        <tr>
            <td>15. COSHH & Asbestos</td>
            <td style="text-align: center !important;">0</td>
            <td></td>
            <td style="text-align: center !important;"></td>
            <td></td>
        </tr>

        <tr>
            <th>E. Protection Of Individual</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td>16. PPE</td>
            <td style="text-align: center !important;">0</td>
            <td></td>
            <td style="text-align: center !important;"></td>
            <td></td>
        </tr>
        <tr>
            <td>17. Manual Handling</td>
            <td style="text-align: center !important;">0</td>
            <td></td>
            <td style="text-align: center !important;"></td>
            <td></td>
        </tr>
        <tr>
            <td>18. Other Contractors</td>
            <td style="text-align: center !important;">0</td>
            <td></td>
            <td style="text-align: center !important;"></td>
            <td></td>
        </tr>

        <tr>
            <th>F. Tools, Cables & Other Equipment</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td>19. Power Tools, Cables & Other Equipment</td>
            <td style="text-align: center !important;">0</td>
            <td></td>
            <td style="text-align: center !important;"></td>
            <td></td>
        </tr>
        <tr>
            <td>20. Voltage Detector checked</td>
            <td style="text-align: center !important;">0</td>
            <td></td>
            <td style="text-align: center !important;"></td>
            <td></td>
        </tr>
        <tr>
            <td>21. Tools Used Fit For Purpose</td>
            <td style="text-align: center !important;">0</td>
            <td></td>
            <td style="text-align: center !important;"></td>
            <td></td>
        </tr>
        <tr>
            <th>G. Miscellaneous</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td>22. Company Vehicles</td>
            <td style="text-align: center !important;">0</td>
            <td></td>
            <td style="text-align: center !important;"></td>
            <td></td>
        </tr>
        <tr>
            <td>23. Fire Precautions</td>
            <td style="text-align: center !important;">0</td>
            <td></td>
            <td style="text-align: center !important;"></td>
            <td></td>
        </tr>
        <tr>
            <td>24. Workshop Conditions</td>
            <td style="text-align: center !important;">0</td>
            <td></td>
            <td style="text-align: center !important;"></td>
            <td></td>
        </tr>
        <tr>
            <th>Total Interventions By Section</th>
            <th style="text-align: center !important;">0</th>
        </tr>
        <tr>
            <td>A. Working Standards</td>
            <td style="text-align: center !important;">0</td>
        </tr>
        <tr>
            <td>B. Quality</td>
            <td style="text-align: center !important;">2</td>
        </tr>
        <tr>
            <td>C. Sites Rules</td>
            <td style="text-align: center !important;">1</td>
        </tr>
        <tr>
            <td>D. Environmental</td>
            <td style="text-align: center !important;">0</td>
        </tr>
        <tr>
            <td>E. Protection Of Individuals</td>
            <td style="text-align: center !important;">0</td>
        </tr>
        <tr>
            <td>F. Tools, Cables & Other Equipment</td>
            <td style="text-align: center !important;">0</td>
        </tr>
        <tr>
            <td>G. Miscellaneous</td>
            <td style="text-align: center !important;">0</td>
        </tr>
        <tr>
            <th>Overall</th>
            <th style="text-align: center !important;">3</th>
        </tr>
    </table>
</body>

</html>